body{
    background-color: #ededed;
}
.backDrop{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    cursor: pointer;
  display:none;
    
  }
  .backDrop .active{
    display: block;
    animation:fade-in 0.5 ease-in-out;
  }

  .ourModal{
    position: fixed;
    height: 350px;
    width: 60%;
    background-color: #fff;
    top:30%;
    left:20%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.7);
    display:none;

  
  }
  .ourModal.active{
    display: block;
    animation:fade-slide-down 0.7 ease-in-out ;

  }
  .card .card-header h2{
    position: relative;
  }

  .card .card-header h2 i{
    position: absolute;
    top:3px;
    right:10px;
    cursor: pointer;
  }


  @keyframes fade-slide-down {
    from{
      opacity: 0;
      margin-top:-70px;
    }
    to{
      opacity: 1;
      margin-top: 0;
    }
    
  }

  @keyframes fade-in{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }